<div class="card m-2" id="comments-new">
    <div class="card-body">
    <!-- 댓글 작성폼  -->
        <form>
        <!--닉네임 입력-->
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control form-control-sm" id="new-comment-nickname">
            </div>
            <!--댓글 본문 입력-->
            <div class="mb-3">
                <label class="form-label">댓글내용</label>
                <textarea class="form-control form-control-sm" id="new-comment-body" rows="3"></textarea>
            </div>
            <!--댓글은 게시글에 포함되므로 article에 id를 hidden으로 가지고 있어야 한다.-->
            {{#article}}
            <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}
            <!--댓글전송 버튼-->
            <button type="button" class="btn btn-outline-primary" id="comment-create-btn">댓글작성</button>

        </form>
    </div>
</div>

<script>
{
    //댓글 생성 버튼 변수화
    const commentCreateBtn = document.querySelector("#comment-create-btn");

    //댓글 클릭 이벤트 감지!
    commentCreateBtn.addEventListener("click",function(){
      const comment = {
        nickname : document.querySelector("#new-comment-nickname").value,
        body : document.querySelector("#new-comment-body").value,
        article_id : document.querySelector("#new-comment-article-id").value
      };
        //댓글 객체 출력
        console.log(comment);

        //fetch() - 비동기 통싵을 위한 API
        const url = "/api/articles/" + comment.article_id + "/comments";
        fetch(url,{
            method : "POST", //전송 방식
            body : JSON.stringify(comment), //comment를 json data로 변환
            headers : {
                "Content-Type" : "application/json",
            }

        }).then(response => {
            //http 응답 코드에 따른 메세지 출력
            const msg = (response.ok) ? "댓글이 등록되었습니다" : "댓글등록 실패..!"
            alert(msg);
            //전체페이지 새로고침
            window.location.reload();
        });
    });
}
</script>